<p><button class="sort-by-title">Sort by Title</button></p>

<p><button class="sort-by-due-date">Sort by Due Date</button></p>

<p><input name="name-search" class="name-search" placeholder="Filter By Name"></p>

<p><button class="show-all">Show/Hide Complete Tasks</button></p>

<p><%= link_to "Add Task", new_list_task_path(@list.id) %></p>
