<%= link_to "Create New List", new_list_path %>

<% @lists.each do |list| %>
  <div class="list">
    <h3><%= link_to list.title, list_path(list.id) %></h3>
    <p><%= link_to "Edit List", edit_list_path(list.id) %></p>
    <p><%= link_to "Delete List", list_path(list.id), method: :delete %></p>
  </div>
<% end %>
